@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-chart-protein: var(--chart-protein);
  --color-chart-carbs: var(--chart-carbs);
  --color-chart-fat: var(--chart-fat);

  --color-calendar-bg: var(--calendar-bg);
  --color-calendar-btn: var(--calendar-btn);
}

:root {
  --radius: 0.625rem;
  --background: oklch(93.538% 0.05295 90.631);
  --foreground: oklch(0.28 0.03 45);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(83.411% 0.16686 88.458);
  --primary-foreground: oklch(0.28 0.05 85);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.45 0.04 50);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --success: oklch(0.78 0.08 145);
  --success-foreground: oklch(0.22 0.05 145);
  --highlight: oklch(0.9 0.12 95);
  --highlight-foreground: oklch(0.32 0.07 95);

  --chart-protein: oklch(58% 0.2 260);
  --chart-carbs: oklch(56% 0.17 150);
  --chart-fat: oklch(62% 0.18 55);

  --calendar-bg: oklch(91.309% 0.10569 117.019);
  --calendar-btn: oklch(81.9% 0.10883 82.038);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl md:text-4xl font-semibold leading-tight drop-shadow-md;
  }

  h2 {
    @apply text-xl md:text-2xl font-semibold leading-snug drop-shadow-md;
  }

  h3 {
    @apply text-lg md:text-xl font-medium leading-snug drop-shadow-md;
  }

  p {
    @apply text-base leading-relaxed;
  }

  small {
    @apply text-sm text-muted-foreground;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2
      rounded-md p-2
      text-sm font-medium
      cursor-pointer
      focus-visible:outline-none
      focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2
      disabled:pointer-events-none
      disabled:cursor-not-allowed
      disabled:opacity-50 transition-all duration-200 ease-in-out;
  }

  .btn-primary {
    @apply bg-primary text-primary-foreground
      shadow-sm
      hover:translate-y-px
      hover:shadow-md
      hover:brightness-95
      active:translate-y-0
      active:shadow-sm;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-md border
      border-foreground/50 px-4 py-2 text-sm font-medium
      hover:bg-muted shadow-sm
      hover:translate-y-px
      hover:shadow-md
      hover:brightness-95
      active:translate-y-0
      active:shadow-sm
      disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-ghost {
    @apply inline-flex items-center justify-center rounded-md px-3 py-2
         text-sm font-medium text-foreground
         hover:bg-muted;
  }

  .line-break {
    @apply relative
    mt-10
    h-0
    border-0
    border-t
    border-foreground/50
    after:content-['']
    after:absolute
    after:top-1/2
    after:left-1/2
    after:-translate-x-1/2
    after:-translate-y-1/2
    after:w-5
    after:h-5
    after:bg-primary
    after:border-4
    after:border-background
    after:rounded-full;
  }
}

@layer utilities {
  .hover-anim {
    @apply hover:translate-y-px hover:shadow-md hover:brightness-95 transition-all duration-200 ease-in-out;
  }

  .ui-border-soft {
    @apply border border-foreground/75;
  }
}
